@using iskurMVC_Eticaret.Areas.Admin.Models.ProductModels
@model List<ProductViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Product View</h2>
<div class="row">
    <div class="col-md-12">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        ProductID
                    </th>
                    <th>
                        ProductName
                    </th>
                    <th>
                        CategoryName
                    </th>
                    <th>
                        UnitPrice
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductID</td>
                        <td>@item.ProductName</td>
                        <td>@item.CategoryName</td>
                        <td>@item.UnitPrice</td>
                        <td>
                            <a href="/Admin/Product/Update/@item.ProductID" class="btn btn-primary">Update</a>
                            <a href="/Admin/Product/Delete/@item.ProductID" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/Admin/Product/Insert" class="btn btn-success">Insert</a>

    </div>
</div>